{{!-- <div class='cardWrapper'>
  <img class='flagCard' src='{{flags.svg}}' alt='{{name}}' />
  <p class='nameCard'><span>Name:</span> {{name}}</p>
</div>
<p class='capital'><span>Capital:</span> {{capital}}</p>
<p class='population'><span>Population:</span> {{population}}</p>

{{#each languages}}
  <p class='language'><span>Languages:</span> {{name}}</p>
{{/each}} --}}

<div class='cardWrapper'>
  <img class='flagCard' src='{{flags.svg}}' alt='{{name}}' />
  <p class='nameCard'>{{name}}</p>
</div>
<p class='capital'><span class='bold'>Capital:</span> {{capital}}</p>
<p class='population'><span class='bold'>Population:</span> {{population}}</p>
{{#each languages}}
  <p class='language'><span class='bold'>Languages:</span> {{name}}</p>{{/each}}